FLIGHTS_PROVIDER=duffel
DUFFEL_ACCESS_TOKEN=duffel_test_xxxxxxxxxxxxxxxxx
DUFFEL_MODE=test
SKYSCANNER_API_KEY=
SKYSCANNER_AFFILIATE_ID=
SKYSCANNER_MARKET=BR
SKYSCANNER_LOCALE=pt-BR
SKYSCANNER_CURRENCY=BRL
PORT=8787
